<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Welcome to <a href="/">EZ games</a></h1>
</header>
<nav>
  <ul>
    <li><a href="whack_a_mole.ejs">Play Whack-a-Mole</a></li>
    <li><a href="tic_tac_toe.ejs">Play Tic-Tac-Toe</a></li>
  </ul>
</nav>
</body>
</html>