<header>
    <a class="logo" href="/"><img src="img/logo.png"></a>
</header>
<nav>
    <ul>
        <li><a href="/whack-a-mole">Play Whack-a-Mole</a></li>
        <li><a href="/tic-tac-toe">Play Tic-Tac-Toe</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/user_profile"><img src="/img/user_icon.png" class="icon"> Profile</a></li>
    </ul>
</nav>
