<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ games</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include ('header.ejs')%>
<main>
    <div id="description" class="game-preview">
        <h2>About this site</h2>
        <div>
            <h3>Welcome to EZ games !!!<br></h3>
            <p>Here you can play Whack-A-Mole and Tic-Tac-Toe !</p>
        </div>
        <div>
            <div class="game-preview-img"><img src="/img/wam.png" alt="Whack-a-Mole Thumbnail" class="gamepreview"></div>
            <div class="game-preview-img"><img src="/img/ttt.png" alt="Tic-Tac-Toe Thumbnail" class="gamepreview"></div>
        </div>
        <div style="margin-top:10px;">
            <p>See the leaderboards for <a href="/wam_leaderboard">Whack-A-Mole</a> and <a href ="/ttt_leaderboard">Tic-Tac-Toe</a></p>
        </div>
    </div>
    <h3>Play Now !</h3>
    <form action="/" method="post">
        <fieldset>
            <div id="difficulty">
                <label><strong>Difficulty :</strong></label>
                <input id="slider" name="difficulty" type="range" min="0" max="2" value="0" step="1" oninput="const difficulty = ['Easy','Medium','Hard'];
                rangeValue.innerText = difficulty[this.value]">
                <p id="rangeValue">Easy</p>
            </div>
            <button class="button1" type="submit" formaction="/api/play?game=whack-a-mole">Play whack-a-mole!</button>
            <button class="button1" type="submit" formaction="/api/play?game=tic-tac-toe">Play tic-tac-toe!</button>
        </fieldset>
    </form>
</main>
<%- include ('footer.ejs')%>
</body>
</html>