<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ games</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href ="/table_style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <data id="data" hidden><%=data%></data>
</head>
<body>
<%- include ('../header.ejs')%>
<main id="app">
    <div class="title-div">
        <h1>User Profile</h1>
    </div>
    <div id="user_infos">
        <h2>Infos</h2>
        <table>
            <tbody>
            <tr>
                <th>Pseudo</th>
                <th>Age</th>
                <th>About me</th>
            </tr>
            <tr>
                <td>{{ data.userResult.id_name }}</td>
                <td>{{ data.userResult.age }}</td>
                <td>{{ data.userResult.about_me }}</td>
            </tr>
            </tbody>
        </table>

        <form action="/logout">
            <button type="submit"><strong>Logout</strong></button>
        </form>
    </div>

    <div id="ttt_rank">
        <div class="title-div">
            <h2>Tic-Tac-Toe ranking</h2>
            <a href ="/wam_leaderboard">See the leaderboard</a>
        </div>
        <table>
            <tbody>
            <tr>
                <th>Place</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Total score</th>
            </tr>
            <tr>
                <td>#{{data.tttResult.id_place_ttt}}</td>
                <td>{{data.tttResult.wins}}</td>
                <td>{{data.tttResult.draws}}</td>
                <td>{{data.tttResult.losses}}</td>
                <td>{{20*data.tttResult.wins - 15 * data.tttResult.losses}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="wam_rank">
        <div class="title-div">
            <h2>Whack-A-Mole ranking</h2>
            <a href ="/wam_leaderboard">See the leaderboard</a>
        </div>
        <table>
            <tbody>
            <tr>
                <th>Place</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Total score</th>
            </tr>
            <tr>
                <td>#{{data.wamResult.id_place_wam}}</td>
                <td>{{data.wamResult.wins}}</td>
                <td>{{data.wamResult.losses}}</td>
                <td>{{20*data.wamResult.wins - 15 * data.wamResult.losses}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="game_sessions">
        <div class="title-div">
            <h2>Past games</h2>
        </div>
        <table>
            <tbody>
            <tr>
                <th>Game</th>
                <th>Result</th>
                <th>Date</th>
                <th>Against</th>
            </tr>
            <tr v-for="row in data.sessionResult">
                <td>{{ row.game_type }}</td>
                <td>{{ row.game_result }}</td>
                <td>{{ new Date(row.game_date).toISOString().slice(0, 16).replace('T', ' ') + ' UTC'}}</td>
                <td>{{ row.id_player_2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="/scripts/user_profile.js"></script>
<script> const mountedApp = app.mount('#app')</script>
<%- include ('../footer.ejs')%>
</body>
</html>