/* Reset some default styles */

@font-face {
    font-family: 'Mangold Open Sans';
    src: url('/MANGOLD.ttf');
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Style of the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.logo img{
    width: 150px;
}

/* Style of the navigation menu */
nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style of the main content */
main, section{
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style of the game previews */
.game-preview {
    margin-bottom: 30px;
}

.game-preview h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-preview p {
    font-size: 16px;
    margin-bottom: 20px;
}

.game-preview-img{
    display: inline-flex;
}

/* Style of the thumbnail img */
.game-preview-img img {
    display: inline-flex;
    width: 150px;
    height: 150px;
}

/* Style of the footer */
footer {
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    max-height: 10px;
    z-index: 100;
}

/* style of the forms */

input{
    margin: 5px;
}
/* Style of the buttons */
button{
    font-weight: bold;
    display: inline-block;
    margin: 5px;
    width: 120px;
    height: 40px;
    color: #053062;
    border: solid #0f5ab6 1.5px;
    box-shadow: #dddfe1 2px 2px 3px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #519afa;
}

/* user_log and signup page specific */


.form_main{
    width:40%;
}

.log_label{
    font-weight: bold;
    float:left;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.message_box{
    width: 60%;
    margin: 5px 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.error{
    border-color: crimson;
    background-color: #ffdae4;
    color: #e07e92;
}

.info{
    border-color: #54a0ff;
    background-color: #d5ecff;
    color: #5ca9de;
}

fieldset{
    border: solid #54585d 1px;
    border-radius: 5px;
    box-shadow: #dddfe1 2px 2px 5px;
    margin: 8px
}

.icon{
    display:inline-block;
    width:1em;
    height: auto;
    filter: invert();
}

/* games */
.game {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

#left-pan {
    display: block;
    grid-column-start: 1;
}
#right-pan {

    grid-column-start: 2;
}

.board{
    border-spacing: 0px;
    margin: 10px auto;
    padding:0;
    border: #636363 solid;
    border-radius: 3px;
}

.cell {
    border: #636363 solid;
    margin: 0;
    width: 100px;
    height: 100px;
}


.cell img {
    pointer-events: none;
    width: 100px;
    height: 100px;
}

.no-border{
    border : none;
}

.timer, .turn-indicator, .win-message{
    margin: 10px;
    font-weight: bold;
    font-size: large;
}

.centered-horizontally{
    margin-top: 50%;
}